<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<link rel="stylesheet" href="{% static 'CSS/style_delete.css' %}">

<body>
    <center>
        <!-- post method is used to  get the data from the form-->
    <form method="POST" class="test">
        <!-- csrf token is compulsory for form-->
        {% csrf_token %}
        <p>
    <h2> Are you sure want to delete {{task.task_data}} </h2>
        </p>
    <button>yes</button>
    </form>
<!-- url is used to redirect to next page by url name-->
    <a href="{% url 'dashboard' %}">cancel and return to dashboard</a>
    <center>
</body>
</html>